.navbar {
    background-color: transparent; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: white; 
    font-size: 18px;
}


.hero {
    background-image: url('IMAGENES/Central/imagenCentral.png'); 
    background-size: cover;
    height: 100vh; 
    position: relative; 
}
.content {
    position: absolute;
    top: 50%; 
    right: 0; 
    transform: translateY(-50%); 
    padding: 20px;
    color: white;
    width: 40%;
}


button {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8; 
    border-radius: 15px; 
}

button:hover {
    opacity: 1; 
}
.gray-bar {
    background-color: gray; 
    width: 100%; 
    height: 60px;
}
.Productos{
    font-size: 30px;
    color: white; 
    text-align: center;
    padding-top: 1%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.grid-item {
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.imageProductos {
    width: 100%;
    height: auto;
}


.btnProductos {
    background-color: black;
    color: burlywood;
    border: burlywood 3px;
    border-style: solid;
    border-radius: 0%;
    padding: 10px 20px;
    cursor: pointer;
}

.btnProductos:hover {
    background-color: #333; 
}
.grid-text{
    color: goldenrod;
    text-align: center;
    padding-top: 5%;
}
.grid-text h2{
    font-size: 30px;
    color: burlywood;
}
.grid-text p{
    font-size: 20px;
    color: burlywood;
}
.grid-text span{
    font-size: 15px;
    color: white;
}
.image-container {
    position: relative;
    max-width: 100%;
}


.image-container img {
    max-width: 100%;
    height: auto;
}


.overlay-elements {
    position: absolute;
    top: 45%; 
    left: 30%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white; 
}
.overlay-elements h2{
    color: rgb(124, 67, 2);
    font-size: 50px;
    padding-bottom: 2%;
}
.p1{
    color: blanchedalmond;
    font-size: 15px;
    width: 75%;
    text-align: justify;
    padding-left: 20%;
    padding-top: 2%;
    
}
.probi{
    color: rgb(124, 67, 2);
    font-size: 20px;
    padding-top: 5%;
    text-align: center;
}
.overlay-elements button{
    color: rgb(124, 67, 2);
    border-radius: 0%;
    border-style: solid;
    background: transparent;
    font-weight: bold;
    
}
.container-1 {
    color: white;
    padding: 20px;
    text-align: center;
    background-color: black;
}

.container-1 img {
    max-width: 100%;
    height: auto;
}


.container-2 {
    display: flex;
    flex-direction: row;
}
.container-2 h2{
    font-size: 15px;
    color: brown;
}

.container-2 img {
    max-width: 30%;
    height: auto;
}

.container-2 form {
    max-width: 70%;
    padding: 20px;
}

.contenedorForm input[type="text"],
.contenedorForm input[type="email"],
.contenedorForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: burlywood;
    
}
.contenedorForm{
    width: 100%;
    margin: 0 auto; 
    background-color: white;
    display: grid;
    place-items: center
    
    
}

.container-2 button {
    background-color: transparent;
    color: burlywood;
    padding: 10px 20px;
    border: solid 2px;
    border-radius: 0%;
    cursor: pointer;
    margin-left: 30%;
}

.container-2 button:hover {
    background-color: beige;
}
footer {
    background-color: black;
    color: white;
    padding: 20px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.logoFooter {
    float: left;
}


.menu-vertical {
    float: left;
    margin-right: 20px; 
}

.menu-vertical h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.menu-vertical ul {
    list-style: none;
    padding: 0;
}

.menu-vertical ul li {
    margin-bottom: 10px;
}


.redes-sociales {
    float: left;
    margin-right: 20px; 
}

.redes-sociales i {
    font-size: 30px;
    margin-right: 10px;
    color: white;
    height: 50px;
  width: 100%;
}


.ubicacion {
    float: right;
    width: 50%; 
}


.google-maps {
    width: 250px;
    height: 250px;
}
.contenedorRecetas{
    background-color: burlywood;
    padding: 20px;
    padding-left: 15%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.receta-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    width: 300px; 
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
}


.receta-card:hover {
    transform: scale(1.05); 
}

.receta-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 8px;
}

.receta-card p {
    font-size: 14px;
    color: #333;
}

.receta-card button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
}

.receta-card button:hover {
    background-color: #0056b3;
}
.tituloRecetas{
    text-align: center;
}
.botonRecetas{
    top: 50%;
    right: 0%;
    left: 50%;
    
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
    .hero {
        background-image: url('IMAGENES/Central/imagenCentral.png'); 
        background-size: cover;
        height: 50vh; 
        position: relative; 
    }
    .imageProductos {
        width: 100%;
        height: auto;
    }
    .grid-item {
        background-color: black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%;
    }
    .content {
        display: none;
    }
    .grid-text{
        color: goldenrod;
        text-align: center;
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .container-2 img {
        display: none;
    }
    
    .container-2 form {
        max-width: 100%;
        padding: 20px;
    }
    .contenedorRecetas{
        background-color: burlywood;
        padding: 20px;
        padding-left: 15%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}